<!DOCTYPE html>
<html>

<head>
	<title>Quiz App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../public/questionstyle.css">
</head>

<body>
	<h5 id="username">Student Name: {{viewTitle}}</h5>
	<div class="home-box custom-box">
		<h3><strong>Instructions :</strong></h3>
		<p><strong>1. Total number of questions: 10</strong></p>
		<p><strong>2. Once you select your answer, it can't be undone.</strong></p>
		<p><strong>3. You'll get points and percentage on the basis of attempts and correct answers.</strong></p>
		<p><strong>4. If you reload the page, then the exam will restart and the current session will be lost.</strong>
		</p>

		<button type="button" class="btn" onclick="startQuiz()"><strong>Start the Exam</strong></button>
	</div>

	<div class="quiz-box custom-box hide ">
		<div class="question-number">

		</div>
		<div class="question-text">

		</div>
		<div class="option-container">

		</div>
		<div class="next-question-btn">
			<button type="button" class="btn" onclick="next()">Next</button>
		</div>
		<div class="answers-indicator">

		</div>
	</div>

	<div class="result-box cutom-box hide">
		<h1>Result</h1>
		<table>
			<tr>
				<td>Total Questions</td>
				<td><span class="total-question"></span></td>
			</tr>

			<tr>
				<td>Attempt</td>
				<td><span class="total-attempt"></span></td>
			</tr>

			<tr>
				<td>Correct</td>
				<td><span class="total-correct"></span></td>
			</tr>

			<tr>
				<td>Wrong</td>
				<td><span class="total-wrong"></span></td>
			</tr>

			<tr>
				<td>Percentage</td>
				<td><span class="percentage"></span></td>
			</tr>

			<tr>
				<td>Your Total Score</td>
				<td><span class="total-score"></span></td>
			</tr>
		</table>
		<button type="button" class="btn" onclick="goToHome()">Logout</button>
	</div>

	<script src="listofquestions.js"></script>
	<script src="questionapp.js"></script>
</body>

</html>